.Header{
    height: 80px;
    background-color: #1C2B35;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}
nav.Header a{
    text-decoration: none;
    color: white;
    margin-left: 40px;
}
nav.Header a:hover{
    color: orange;
}